 <configuration>
<location path="">
  <system.webServer>

    <!-- Redirect to index.html -->
    <httpRedirect enabled="false" destination="../index.html" httpResponseStatus="Permanent" />
	
    <!-- Security Headers -->
    <httpProtocol>
      <customHeaders>
        <!-- Add X-Frame-Options -->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <!-- Add Content-Security-Policy -->
        <add name="Content-Security-Policy" value="frame-ancestors 'self' https://www.epri.com;" />
        <!-- Disable browser content sniffing -->
        <add name="X-Content-Type-Options" value="nosniff" />
        <!-- Set Referrer Policy -->
        <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
        <!-- Set Feature-Policy -->
        <add name="Feature-Policy" value="accelerometer 'none'; camera 'none'; geolocation 'none';" />
        <!-- Set X-XSS-Protection -->
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
      <redirectHeaders>
        <!-- Remove headers that disclose information -->
        <remove name="Server" />
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
      </redirectHeaders>
    </httpProtocol>

    <!-- Additional recommended configurations could go here -->
  </system.webServer>
</location>
 </configuration>